.result-element {
  padding: 24px 0;

  // TODO: Remove that hack once it will be fixed for @mwc-radio
  mwc-radio {
    height: 40px;
  }

  &__title {
    margin: 0 0 12px;
    color: $primary-text-color;
    font-weight: $thin-font-weight;
  }

  &__scroller {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    margin-bottom: 4px;
  }

  &__item {
    margin-right: 12px;
  }

  &__value {
    color: $primary-dark-color;
    font-weight: $bold-font-weight;
  }

  &__shortcut {
    font-weight: $thin-font-weight;
    font-size: 1.5rem;
  }
}