.result-element {
  padding: 24px 0;

  // TODO: Remove that hack once it will be fixed for @mwc-radio
  mwc-radio {
    height: 40px;
  }

  &__title {
    margin: 0 0 12px;
  }

  &__scroller {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    margin-bottom: 4px;
  }

  &__item {
    margin-right: 12px;
  }

  &__value {
    color: #e9437a;
  }

  &__shortcut {
    font-weight: normal;
    font-size: 1.5rem;
  }
}