.result-element {
  padding: 24px 0;

  &__main {
    margin: 0 0 12px;
  }

  &__title {
    font-weight: $thin-font-weight;
  }

  &__scroller {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 12px;
    margin-bottom: 4px;
  }

  &__item {
    margin-right: 12px;
  }

  &__value {
    color: $primary-dark-color;
    font-weight: $medium-font-weight;
  }

  &__shortcut {
    font-weight: $thin-font-weight;
  }
}