.not-found-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 24px;
    overflow: auto;

    &__icon {
      font-size: 5rem;
    }
}
