.page-layout {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 12px 24px;

  @include tablet {
    justify-content: center;
  }

  @include mobile {
    padding: 8px;
  }

  &__side {
    padding: 12px;

    &-left {
      width: 100%;
      max-width: 468px;
      margin-right: 12px;

      @include tablet {
        margin-right: 0;
      }
    }

    &-right {
      flex: 1;
      margin-left: 12px;

      @include tablet {
        display: none;
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  &__button {
    margin-left: 16px;

    &_calculate {
      &.is-calculated {
        --mdc-theme-primary: #{$accent-color};
      }
    }
  }
}