@import 'scss/variables';
@import 'scss/mixins';
@import '~normalize.css';

// Global
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

@import 'scss/mwc';

// Elements
@import 'scss/element/input';
@import 'scss/element/result';

// Sections

// Pages
@import 'scss/page/home';
@import 'scss/page/running-pace';
@import 'scss/page/not-found';

// Layout
@import 'scss/layout/page';

// Routes
@import 'scss/route';

