@import 'scss/variables';
@import 'scss/mixins';
@import '~normalize.css';

// Global
* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: $primary-text-color;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

// Material components
@import '@material/card/mdc-card';
@import '@material/typography/mdc-typography';
@import 'scss/mwc';

// Elements
@import 'scss/element/input';
@import 'scss/element/result';

// Sections

// Pages
@import 'scss/page/home';
@import 'scss/page/not-found';
@import 'scss/page/contact';

// Layout
@import 'scss/layout/page';

// Routes
@import 'scss/route';

