.route {

  &__page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
  }

  &__link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-weight: $thin-font-weight;
    text-decoration: none;
    color: $secondary-text-color;
    transition: color .2s ease-out;

    & > i {
      margin-right: 12px;
    }

    &:hover {
      color: $primary-text-color;
    }

    &.is-active {
      color: $accent-color;
      font-weight: $regular-font-weight;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
  }

  &__group-title {
    margin: 0;
    color: $primary-text-color;
  }

  &__group-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 0;
  }

  &__divider {
    height: 1px;
    background-color: $divider-color;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    transition: opacity 0 ease-out;
    opacity: 0;

    &.is-visible {
      transition: opacity .4s ease-out;
      opacity: 1;
    }
  }
}
