// Colors
$primary-color: #009688;
$primary-dark-color: #00796b;
$primary-light-color: #b2dfdb;
$accent-color: #ff9800;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;

// Fonts
$thin-font-weight: 300;
$regular-font-weight: 400;
$medium-font-weight: 500;

// Sizes
$mobile-width: 768px;
$tablet-width: 1024px;
